Student Form:
<%=form_tag students_path do %>
<label> First Name: </label>
<h1><%=text_field_tag :'first_name'%></h1>
<label> Last Name: </label>
<h1><%=text_field_tag :'last_name'%></h1>
<%=submit_tag "Submit Student"%>
<%end%>